[tool.black]
line-length = 99
target-version = ['py27', 'py35', 'py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.tox
  | venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
include_trailing_comma = true
line_length = 99
multi_line_output = 3
skip_glob = '**/*.eggs,.git,**/.mypy_cache,**/.tox,venv,**/_build,**/build,**/dist'
