name: super-linter

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "master" ]

jobs:
  super-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: github/super-linter@v3
        env:
          DEFAULT_BRANCH: "master"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LINTER_RULES_PATH: .
          PYTHON_BLACK_CONFIG_FILE: "pyproject.toml"
          PYTHON_ISORT_CONFIG_FILE: "pyproject.toml"
          VALIDATE_PYTHON_PYLINT: false
